* {
    margin: 0px;
    padding: 0px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.form_container form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.form_container form input,.form_container form button {
    margin-bottom: 20px;
}

.title_right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
}
.title_right a {
    color: black;
    text-decoration: none;
}

.body_container {
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.body_side a {
    color: black;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(223, 223, 223);
}
.body_side a:hover {
    background-color: rgb(168, 168, 168);

}

.body_container .body_side{
    display: flex;
    flex-direction: column;
    
}

.body_main {
    margin: 0px 20px;

}

.body_main_contribution td, th{
    width: 150px;
    height: 40px;
    text-align: start;

}

.body_main_contribution button{
    width: 150px;
    height: 40px;
    text-align: center;
}
.body_main_contribution table {
    border-collapse: collapse;
}

.body_main_contribution .tr_family {
    background-color: rgb(240, 240, 240);
}

.body_main_Users td, th{
    width: 150px;
    height: 40px;
    text-align: start;

}
.body_main_Users button{
    width: 150px;
    height: 40px;
    text-align: center;
}

